<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue 列表过渡</title>
    <style type="text/css" media="screen">
    .list-item {
        display: inline-block;
        margin-right: 10px;
    }

    .list-enter-active,
    .list-leave-active {
        transition: all 1s;
    }

    .list-enter,
    .list-leave-active {
        opacity: 0;
        transform: translateY(30px);
    }

    .flip-list-move {
        transition: transform 1s;
    }
    </style>
</head>

<body>
    <div id="list-demo" class="demo">
        <button v-on:click="add">Add</button>
        <button v-on:click="remove">Remove</button>
        <transition-group name="list" tag="p">
            <span v-for="item in items" v-bind:key="item" class="list-item">
      {{ item }}
    </span>
        </transition-group>
    </div>
    <div id="list-move-demo" class="demo">
        <button v-on:click="shuffle">Shuffle</button>
        <transition-group name="flip-list" tag="ul">
            <li v-for="item in items" v-bind:key="item">
                {{ item }}
            </li>
        </transition-group>
    </div>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
    <script>
    /**
                <transition-group> 组件还有一个特殊之处。不仅可以进入和离开动画，还可以改变定位。要使用这个新功能只需了解新增的 v-move 特性，它会在元素的改变定位的过程中应用。像之前的类名一样，可以通过 name 属性来自定义前缀，也可以通过 move-class 属性手动设置。
                 */
    new Vue({
        el: '#list-demo',
        data: {
            items: [1, 2, 3, 4, 5, 6, 7, 8, 9],
            nextNum: 10
        },
        methods: {
            randomIndex: function() {
                return Math.floor(Math.random() * this.items.length)
            },
            add: function() {
                this.items.splice(this.randomIndex(), 0, this.nextNum++)
            },
            remove: function() {
                this.items.splice(this.randomIndex(), 1)
            },
        }
    })

    new Vue({
        el: '#list-move-demo',
        data: {
            items: [1, 2, 3, 4, 5, 6, 7, 8, 9]
        },
        methods: {
            shuffle: function() {
                this.items = _.shuffle(this.items)
            }
        }
    })
    </script>
</body>

</html>
